

  <section id="main-content">
          <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-user-md"></i> Ingrediente </h3>
        </div>
      </div>
	  <div class="row">
	    <!-- profile-widget -->
	    	<div class="col-lg-12">
	        	<div class="profile-widget profile-widget-info">
	              <div class="panel-body">
	                <div class="col-lg-6 text-left">
	                  <h2><%= @ingrediente.nombre %></h2> 
	                </div>
	                <div class="col-lg-6 text-right">
	                    <h2>Precio: <%= @ingrediente.precio %><h2>
	                </div>
	              </div>
	            </div>
	        </div>
	    </div>
           </section>
   </section>




<%= link_to 'Edit', edit_ingrediente_path(@ingrediente) %> |
<%= link_to 'Back', proveedors_path %>
