<%= form_for(@ingrediente_platillo) do |f| %>
  <% if @ingrediente_platillo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingrediente_platillo.errors.count, "error") %> prohibited this ingrediente_platillo from being saved:</h2>

      <ul>
      <% @ingrediente_platillo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
