<p id="notice"><%= notice %></p>

<p>
  <strong>Introduccion:</strong>
  <%= @establecimiento_platillo.introduccion %>
</p>

<%= link_to 'Edit', edit_establecimiento_platillo_path(@establecimiento_platillo) %> |
<%= link_to 'Back', establecimiento_platillos_path %>
