<p id="notice"><%= notice %></p>


<p>
  <strong>Ingredientes:</strong>
  <% @proveedor.ingredientes.each do |ingrediente| %>
  <p>
  	<%= ingrediente.nombre%>
  <p>
  <%  end %>
</p>


<%= link_to 'Back', proveedors_path %>
