
    <div class="container">

    <div class="login-form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>     
        <div class="login-wrap">
        <p class="login-img"><i class="icon_lock"></i></p>

            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <%= f.password_field :password, autocomplete: "off", class: 'form-control'%>
            </div>

            <div class ="actions">
            <%= f.submit "Login" ,{:class => "btn btn-primary btn-lg btn-block"}%>
            </div>
        </div>
        <% end %>
      </div>

    </div>



