<nav>
 	<ul>
 	<li> <%= link_to "Empleados", empleados_path %> </li>
 	<li> <%= link_to "Proveedores", proveedors_path %> </li>
 	<li> <%= link_to "Ingredientes", ingredientes_path %> </li>
 	<li> <%= link_to "Platillo", platillos_path %> </li>
 	</ul>
</nav>	